In [8]:
age = int(input("Enter age of x: "))
if age>=1 and age<=3:
  print("x is a toddler")
elif age>=4 and age <=12:
    print("x is a child")
elif age>=13 and age <=19:
  print("x is a teenager")
elif age>=20 and age <=59:
  print("x is an adult")
elif age>=60:
  print("x is a senior citizen")

Enter age of x: 40
x is an adult

In [9]:
num=int(input("enter the number:"))
for x in range(1,11):
    print(num,"x",x,"=",x*num)

enter the number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
num=int(input("enter the number:"))
for x in range(num):
  n=x+1
  for y in range(x+1):
    print(n,end="")
  print("\n")

enter the number:3
1

22

333

In [13]:
num=int(input("enter the number:"))
for x in range(num):
  n=1
  for y in range(x+1):
    print(n,end="")
    n=n+1
  print("\n")

enter the number:5
1

12

123

1234

12345

In [18]:
num=int(input("enter the number: "))
length=len(str(num))
for x in range(length,-1,-1):
  if x==0:
    break
  print(x,end="")

enter the number: 3456
4321